html {
  box-sizing: border-box;
  font-family: "ff-meta-serif-web-pro", serif;
  color: #555;
  font-size: 16px;
  overflow-x: hidden;
}
@media (min-width: 6.25em) {
  html {
    font-size: 17px;
  }
}
@media (min-width: 12.5em) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 18.75em) {
  html {
    font-size: 19px;
  }
}
@media (min-width: 25em) {
  html {
    font-size: 20px;
  }
}
@media (min-width: 31.25em) {
  html {
    font-size: 21px;
  }
}
@media (min-width: 37.5em) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 43.75em) {
  html {
    font-size: 23px;
  }
}
@media (min-width: 50em) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 56.25em) {
  html {
    font-size: 25px;
  }
}
@media (min-width: 62.5em) {
  html {
    font-size: 26px;
  }
}
@media (min-width: 68.75em) {
  html {
    font-size: 27px;
  }
}
@media (min-width: 75em) {
  html {
    font-size: 28px;
  }
}
@media (min-width: 81.25em) {
  html {
    font-size: 29px;
  }
}
@media (min-width: 87.5em) {
  html {
    font-size: 30px;
  }
}
@media (min-width: 93.75em) {
  html {
    font-size: 31px;
  }
}
@media (min-width: 100em) {
  html {
    font-size: 32px;
  }
}
@media (min-width: 106.25em) {
  html {
    font-size: 33px;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 34px;
  }
}
@media (min-width: 118.75em) {
  html {
    font-size: 35px;
  }
}
@media (min-width: 125em) {
  html {
    font-size: 36px;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:any-link {
  text-decoration: none;
}
/** * The fixed Side */
.side {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 50px;
  border-right: 1px dashed rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  font-family: "nimbus-sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.0875rem;
  font-size: 10px;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.side:hover {
  color: rgba(0, 0, 0, 0.5);
}
.side .side__inner {
  position: relative;
  height: 100%;
  white-space: nowrap;
}
.side a {
  color: inherit;
  word-spacing: 0;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.side .top,
.side .bottom {
  position: absolute;
  left: 0;
  transform: rotate(-90deg) perspective(1px);
  transform-origin: 50px 50px;
  height: 50px;
  line-height: 50px;
  white-space: nowrap;
  word-spacing: 0.5rem;
}
.side .top {
  top: 25px;
  text-align: right;
  color: black;
}
.side .bottom {
  top: auto;
  bottom: 75px;
}
.side .bottom:hover a {
  color: rgba(0, 0, 0, 0.2);
}
.side .bottom:hover a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/** * The first navigation */
.anchornav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.anchornav li {
  display: block;
}
.anchornav li::after {
  content: "";
  width: 1.3rem;
  display: block;
  height: 2px;
  background: black;
}
.anchornav li:last-child::after {
  display: none;
}
.anchornav a {
  display: block;
  padding: 1em 0;
  font-family: "nimbus-sans", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.4px;
  color: inherit;
  transition: all 0.3s cubic-bezier(0.05, 0.69, 0.14, 1);
}
.anchornav a span {
  display: inline;
  padding: 0.5em 0 0;
  opacity: 0.3;
  letter-spacing: normal;
  font-family: "ff-meta-serif-web-pro", serif;
  text-transform: none;
}
.anchornav a:hover {
  color: #de5f5f;
}
.anchornav a:hover span {
  opacity: 1;
  color: #181818;
}
/** * The different sections */
.section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 60vh;
  width: 100%;
  align-content: center;
  padding: 20vh 50px 20vh 75px;
}
.section svg {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
}
.section svg.bottom {
  bottom: 0;
  top: auto;
  fill: grey;
}
.section .section__inner {
  height: 100%;
  max-width: 800px;
  margin: auto auto auto 0;
}
.section.section--hello {
  background-color: #fdef52;
  color: #181818;
}
.section.section--intro {
  background-color: white;
  color: #555;
}
.section.section--about {
  background-color: #de5f5f;
  color: white;
}
.section.section--about svg {
  fill: #de5f5f;
}
.section.section--clients {
  background-color: #5cc1b3;
  color: white;
}
.section.section--clients svg {
  fill: #5cc1b3;
}
.section.section--portfolio {
  background-color: orange;
  color: white;
}
.section.section--portfolio svg {
  top: -20px;
  fill: #3a99d8;
}
#triangle-svg {
  fill: orange;
}
.section.section--portfolio svg.bottom {
  top: auto;
  bottom: -50px;
}
.section.section--portfolio1 {
  background-color: #3a99d8;
  color: white;
}
.section.section--portfolio1 svg {
  top: -50px;
  fill: #3a99d8;
}
.section.section--pepperhill svg {
  top: -50px;
  fill: #3a99d8;
}
.section.section--contact svg {
  fill: white;
}
#portfolio3 {
  top: -50px;
  background-color: #3a99d8;
}

/** * Typo */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h5 {
  font-family: "nimbus-sans", sans-serif;
  font-weight: bold;
  margin: 0 0 1em;
  line-height: 1;
  letter-spacing: -1px;
}
@media (min-width: 30rem) {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h5 {
    letter-spacing: -2px;
  }
}
h1 a,
.h1 a,
h2 a,
.h2 a,
h3 a,
.h3 a,
h4 a,
.h5 a {
  color: inherit;
}
h1 a:hover,
.h1 a:hover,
h2 a:hover,
.h2 a:hover,
h3 a:hover,
.h3 a:hover,
h4 a:hover,
.h5 a:hover {
  border-bottom: 0.1875rem solid;
}
h1 span,
.h1 span,
h2 span,
.h2 span,
h3 span,
.h3 span,
h4 span,
.h5 span {
  color: #de5f5f;
}
h1,
.h1 {
  font-size: 1.2rem;
}
@media (min-width: 30rem) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}
h2,
.h2 {
  font-size: 1.2rem;
}
@media (min-width: 30rem) {
  h2,
  .h2 {
    font-size: 2.5rem;
  }
}
.pre {
  display: inline-block;
  font-size: 12px;
  margin: 0;
  opacity: 0.8;
  letter-spacing: 1.4px;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: inherit;
}
.pre span {
  font-size: 0.9em;
  margin-right: 0.4em;
  opacity: 0.5;
}
.pre:hover {
  opacity: 1;
}

.title {
  margin: 0;
}
p {
  font-size: 0.75rem;
  line-height: 1.4;
}
@media (min-width: 30rem) {
  p {
    font-size: 0.875rem;
  }
}
p a {
  font-weight: bold;
  color: inherit;
}
p a:hover {
  border-bottom: 0.1875rem solid;
}
.lead {
  display: block;
  font-size: 0.875rem;
  margin: 0;
}
@media (min-width: 30rem) {
  .lead {
    font-size: 1rem;
  }
}
.portfolio {
  font-size: 0.75rem;
}
.portfolio.block {
  display: inline-block;
  width: 100%;
}
@media (min-width: 30rem) {
  .portfolio.block {
    width: 30%;
  }
}
.portfolio .link {
  display: block;
  margin: 2em 0 0 0;
  color: #555;
  letter-spacing: 2px;
  font-size: 12px;
}
.portfolio p {
  font-size: inherit;
  color: #343436;
  opacity: 0.7;
}
.projet-link:hover,
.general-link:hover {
  color: #0d7cc0;
}
.projet-link,
.general-link,
.general-link2:hover {
  color: #282d87;
}
.general-link2 {
  color: #de5f5f;
}

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

.page-content {
  font-family: var(--font-sans);
  display: grid;
  grid-auto-columns: calc(100% - 20rem);
  grid-auto-flow: column;
  grid-gap: 1rem;
  overflow-x: auto;
  margin-right: auto;
  padding: 1rem;
  width: 130vw;
  margin: 0 auto;
}
.page-content::-webkit-scrollbar {
  display: none;
}

@media (min-width: 600px) {
  .page-content {
    grid-auto-columns: calc(100% - 20rem);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-auto-columns: calc(100% - 30rem);
  }
}

.card {
  width: 100%;
  height: auto;
  min-width: 50%;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 80vh;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(images/example-card\ -\ Copia.png);
}
.card:nth-child(2):before {
  background-image: url(images/json-example.png);
}
.card:nth-child(3):before {
  background-image: url(images/yellow-circle.png);
}
.card:nth-child(4):before {
  background-image: url(images/ecuador-home.png);
}
.card:nth-child(5):before {
  background-image: url(images/yellow-circle.png);
}

.veille:nth-child(1):before {
  background-image: url(images/euro_num.jpg);
}
.veille:nth-child(2):before {
  background-image: url(images/security-data.jpg);
}
.veille:nth-child(3):before {
  background-image: url();
}
.veille:nth-child(4):before {
  background-image: url();
}
.veille:nth-child(5):before {
  background-image: url();
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
  -webkit-text-stroke: 0.5px black;
}

.content p {
  font-family: var(--font-serif);
  font-size: 0.8rem;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }
  .card:hover:before,
  .card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
  .card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before,
  .card:focus-within:after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}
.detailsAppBottom,
.detailsVeilleBottom {
  /* display: inline-block; */
  display: none;
  width: 100%;
  padding: 5vh 50px 0 75px;
}
.detailsAppBottom > *,
.detailsVeilleBottom > div > div {
  display: none;
  margin-right: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-style: solid;
  outline-width: 1px;
  outline-offset: -10px;
  border-radius: 8% 8% 0% 0%;
  width: 55vw;
}

.detailsVeilleBottom > * {
  display: none;
}

.detailsAppBottom > * img {
  display: block;
  margin: 1rem auto;
}
.detail p {
  padding-bottom: 1rem;
  font-size: 0.75rem;
}
#about ul {
  font-size: 0.75rem;
  position: relative;
  left: 5vw;
}
#about ul li,
#about p,
#clients p {
  margin-bottom: 0.75rem;
}
#about .btn-area,
.btn-area-veille {
  justify-content: space-evenly;
  column-gap: 1rem;
  border: 1rem;
  padding: 1rem;
  box-shadow: none;
  outline: none;
}
.btn-area-veille button {
  display: flex;
}
.btn-area *,
.btn-area-veille * {
  width: 10vw;
  height: 1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
}

.competence img {
  height: auto;
  width: 20vw;
}

.logo-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.competence {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
.competence p {
  padding-bottom: 1rem;
}
